doctype html
html(lang="zh")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="color-scheme", content="light dark")
    title 浏览器支持
    link(rel="stylesheet", href="main.css")
  body
    .wdi-browser-compat
      span.wdi-browser-compat__label 浏览器支持
      ul.wdi-browser-compat__items
        li.wdi-browser-compat__item
          span.wdi-browser-compat__icon(data-browser="chrome")
            span.visually-hidden Chrome 86，支持
          span.wdi-browser-compat__version(
            aria-label="支持",
            data-compat="yes",
            title="支持"
          ) &nbsp;86&nbsp;

        li.wdi-browser-compat__item
          span.wdi-browser-compat__icon(data-browser="firefox")
            span.visually-hidden Firefox 111，支持
          span.wdi-browser-compat__version(
            aria-label="支持",
            data-compat="yes",
            title="支持"
          ) &nbsp;111&nbsp;

        li.wdi-browser-compat__item
          span.wdi-browser-compat__icon(data-browser="edge")
            span.visually-hidden Edge 86，支持
          span.wdi-browser-compat__version(
            aria-label="支持",
            data-compat="yes",
            title="支持"
          ) &nbsp;86&nbsp;

        li.wdi-browser-compat__item
          span.wdi-browser-compat__icon(data-browser="safari")
            span.visually-hidden Safari 15.2，支持
          span.wdi-browser-compat__version(
            aria-label="支持",
            data-compat="yes",
            title="支持"
          ) &nbsp;15.2&nbsp;

      a.wdi-browser-compat__link(
        href="https://developer.mozilla.org/en-US/docs/Web/API/StorageManager/getDirectory#browser_compatibility",
        target="_blank"
      ) 数据来源
